<h1 mat-dialog-title>Finaliser un match</h1>

      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
            <div class="col">
                <a href="javascript:void(0)" class="avatar rounded-circle mr-3" >
                <img alt="" src="https://tptnode.herokuapp.com/static/image/teams/{{ data.matchs.team_1[0].logo }}" />
                </a>
            </div>
            <div class="col">
                <h3>{{data.matchs.team_1[0].name}}</h3>   
            </div>
            <div class="col">
              <h2> vs</h2>
            </div> 
            <div class="col">
              <h3>{{data.matchs.team_2[0].name}}</h3>
            </div>  
            <div class="col"> 
                <a  href="javascript:void(0)" class="avatar rounded-circle mr-3">
                <img alt="" src="https://tptnode.herokuapp.com/static/image/teams/{{ data.matchs.team_2[0].logo }}" />
                </a>
            </div>
        </div>
      </div>
      <div class="card-body">
        <div class="pl-lg-4">
            <h4 class="mb-0">Stade: {{data.matchs.team_1[0].stade}}</h4>
        </div>
        <form #f="ngForm" (ngSubmit)="submit(data.matchs)">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input
                    type="number"
                    id="score1"
                    class="form-control form-control-alternative"
                    placeholder="score {{data.matchs.team_1[0].name}}"
                    name="score1" [(ngModel)]="score1" ngModel
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input
                    type="number"
                    id="score2"
                    class="form-control form-control-alternative"
                    placeholder="score {{data.matchs.team_2[0].name}}"
                    name="score2" [(ngModel)]="score2" ngModel
                  />
                </div>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <div class="row">
            <div class="col-lg-2">
              <button class="btn btn-sm btn-primary" type="submit">ok</button>
            </div>
          </div>
        </form>
      </div>
  