
<ngx-spinner></ngx-spinner>
<!-- <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie> -->

<div style="margin: 1%; width: 600px; left: 25%; top: 10%;">
  <mat-card class="login-card container">
    <mat-card-title class="title" align="center">
      <h4>Login</h4>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form (ngSubmit)="login()" class="content">
          <mat-grid-list cols="2" rowHeight="75px" gutterSize="5px">
            <mat-grid-tile colspan="2">
              <mat-form-field>
                <mat-label><mat-icon [inline]="true">account_box</mat-icon> username</mat-label>
                <input matInput required [(ngModel)]="username" name="username">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
              <mat-form-field>
                <mat-label><mat-icon [inline]="true">vpn_key</mat-icon> Mot de passe</mat-label>
                <input type="password" [(ngModel)]="password" matInput required  name="password">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
              <button mat-stroked-button color="primary" align="center">
                Se connecter
              </button>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-error *ngIf="error" class="error">
            {{error}}
          </mat-error>
        </form>
  </mat-card-content>
  </mat-card>
</div>
