<div class="box">
  <div class="flex-item" *ngFor="let sport of sports">
    <mat-card style="margin: 1%;">
      <mat-card-header>
        <mat-card-title>
          <a [routerLink]="['/leagues',sport.id]">{{sport.name}}</a>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-drawer-content style="height:308pt;overflow:auto; margin-left: 0px!important;">
        <a [routerLink]="['/leagues',sport.id]">
          <div mat-card-avatar class="item-logo" style="background-image: url( https://tptnode.herokuapp.com/static/image/sports/{{sport.image}}); background-size: cover;"></div>
        </a>
      </mat-drawer-content>
    </mat-card>
  </div>
</div>
