 <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
  </div>
</div>
<div class="col-xl-12 order-xl-1 mt--7">
  <div class="card card-profile bg-secondary shadow">
    <mat-horizontal-stepper>
      <mat-step [stepControl]="firstFormGroup">
        <!-- stepper title !-->
        <ng-template matStepLabel>Sport</ng-template>
        <!-- end stepper title !-->
    
        <!-- stepper content !-->
        <ng-container *ngTemplateOutlet="step1Template">

        </ng-container>
        <!-- end stepper content !-->
    
        <!-- stepper footer !-->
        <div>          
          <form [formGroup]="formsport" (ngSubmit)="submit1()">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-12">
                <mat-form-field >
                  <mat-label>Sport</mat-label>
                  <mat-select formControlName="onesport" required>
                    <mat-option  *ngFor="let sports of sport" [value]="sports">
                      {{sports.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <hr class="my-4" />
          <div class="row">
            <div class="col-lg-2">
              <button type="submit" class="btn btn-sm btn-primary">create</button>
            </div>
          </div> -->
          <button type="submit" mat-button matStepperNext>Next</button>
          
        </form>
        </div>
        <!-- end stepper footer !-->
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <!-- stepper title !-->
        <ng-template matStepLabel>League</ng-template>
        <!-- end stepper title !-->
    
        <!-- stepper content !-->
        <ng-container *ngTemplateOutlet="step2Template"></ng-container>
        <!-- end stepper content !-->
    
        <!-- stepper footer !-->
        <div>
          <div class="row">
               <h3> {{sportLabel.name}}</h3>
               <div>
               <img src="https://tptnode.herokuapp.com/static/image/sports/{{sportLabel.image}}"  alt="{{sportLabel.image}}" width="75px">
               </div>
            <div class="centre">
              
              <form [formGroup]="formleague" (ngSubmit)="submit2()">
                  <mat-form-field >
                    <h3> Entrer league:</h3>
                    <mat-select  formControlName="oneleague" name="league"  required>
                      <mat-option *ngFor="let leagues of league" [value]="leagues">
                        {{leagues.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button> 
                  
              </form>
            </div>
            
        </div>
        </div>
        <!-- end stepper footer !-->
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Team</ng-template>
        
      <form #f="ngForm" (ngSubmit)="submit3()">
        <div>
          <div class="row">
              <div class="col">
                <h3> League: {{leaguelabel.name}}({{sportLabel.name}})</h3>
              </div>
              <div class="col">
                <mat-form-field>     
                  <mat-label>Match</mat-label>               
                  <mat-select name="league" (selectionChange)="finish($event.value)">
                  <mat-option [value]="0">fini </mat-option>
                  <mat-option [value]="1">non fini </mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Date</mat-label>
                  <input matInput type="date" [(ngModel)]="date"  name="date">
                </mat-form-field>
              </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-6 col-md-4">
                    <mat-form-field >
                      <mat-label>team domicile</mat-label>
                      <mat-select [(ngModel)]="team_1" name="team_1" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let teams of team" [value]="teams">
                          {{teams.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                <div class="col-6 col-md-4">          
                  <mat-form-field >
                    <mat-label>quote team domicile</mat-label>
                    <input matInput [(ngModel)]="quote_team1"  type="number" name="quote1" (input)="quote($event)">
                  </mat-form-field>
                </div>
                <div class="col-6 col-md-4">                     
                  <mat-form-field>
                    <mat-label>Time</mat-label>
                    <input matInput type="time" [(ngModel)]="time"  name="time">
                  </mat-form-field>
                </div>
              </div>
           </div>
          </div>
          <div class="row">
            <div class="col-lg-12"> 
              <div class="row">
                <div class="col-6 col-md-4">            
                  <mat-form-field >  
                    <mat-label>team exterieur</mat-label>
                    <mat-select [(ngModel)]="team_2" name="team_2" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let teams of team" [value]="teams">
                          {{teams.name}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <div class="col-6 col-md-4"> 
                  <mat-form-field>
                    <mat-label>quote team exterieur</mat-label>
                    <input matInput  [(ngModel)]="quote_team2"  type="number" name="quote_team2" (input)="quote($event)">
                  </mat-form-field>
                </div>
                <div class="col-6 col-md-4">  
                  <mat-form-field *ngIf="fini == 0">
                    <mat-label>score team domicile</mat-label>
                    <input matInput type="number" [(ngModel)]="score_1" name="score_1">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-6 col-md-4"> 
             Popularite:  <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false" [(ngModel)]="popularite" name="popularite"></ngb-rating>
            </div>
            <div class="col-6 col-md-4">      
              <mat-form-field>
                <mat-label>quote null</mat-label>
                <input matInput  [(ngModel)]="quote_null"  type="number" name="quote_null" >
              </mat-form-field>
            </div>
            <div class="col-6 col-md-4"> 
              <mat-form-field *ngIf="fini == 0">
                <mat-label>score team exterieur</mat-label>
                <input matInput [(ngModel)]="score_2"  type="number" name="score_2">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-12"> 
            <button mat-button matStepperPrevious>Back</button>
            <button type="submit" mat-button>Add</button>
          </div>
        </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div> 